em{
font-size:30px;
}
.menu{
background:#434649;
}
select{
width:200px;
height:40px;
font-size:24px;
}
h3{
font-size:24px;
float:right;
padding-bottom:30px;
}
h2{
color:#F67714;
}
.title{
  font-weight: bold;
font-size:44px;
color:#42F509;
}
form,.details{
font-size:30px;
}
.input{
border-top:0;
border-left:0;
border-right:0;
margin-top:20px;
width:100%;
}
table{
width:100%;
}
td{
text-align:center;
padding:5px;
}
th{
font-size:26px;
color:green;
padding:5px;
}
button:hover{
background:blue;
color:white;
}
a.active{
background:#016aba;
}
a:hover{
background:#147BF6;
}
.input,.tr:hover{
background:#EAEDED;
}
.tr:hover,button:hover{
cursor:pointer;
}
td,.input,button{
padding:10px;
font-size:24px;
}
.input,h2{
padding-bottom:20px;
}
